@CHARSET "UTF-8";

* {
	font-size: 100%;
	font-family: inherit;
}

body, html, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, p {
	margin: 0;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

h1, h2, h3, h4 {
	font-family: "mtg-regular", serif;
}

a {
	color: white;
}

body {
	color: white;
	background: white url(../assets/MTG4c.png) no-repeat 50% 50%;
	background-size: 75% auto;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

header,
menu,
.counter,
footer {
	background: rgba(0, 0, 0, 0.65);
	border-color: rgba(0, 0, 0, 0.75);
	border-style: solid;
	border-width: 0;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.25em;
	border-width: 0 0 0.2em;
	font-size: 175%;
}

header > h1 {
	float: left;
}

header > [rel="dialogStart"]:before {
	content: ".";
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	padding: 0.25em 0 0 0.25em;
	background: white;
	box-shadow: 0 0.35em 0 rgba( 255, 255, 255, 0.6 ),
				0 0.7em 0 rgba( 255, 255, 255, 0.3 );
}

header > [rel="dialogStart"] {
	float: right;
	overflow: hidden;
	text-indent: -10em;
	width: 1em;
	height: 1em;
	position: relative;
	/*Bigger touch-area for small devices*/
	padding: 0 0 0.5em 0.5em;
	margin: 0 0 -0.5em;
}

.orientation_landscape > header > [rel="dialogStart"] {
	/*Bigger touch-area for small devices*/
	padding: 0 0 1em 1em;
	margin: 0 0 -1em;
}

menu {
	background: rgba(0, 0, 0, 0.85);
	position: absolute;
	top: 1em;
	right: 1em;
	bottom: 1em;
	left: 1em;
	overflow: auto;
	padding: 0.25em;
	border-width: 0.2em;
	border-radius: 0.5em;
	z-index: 15;
	display: none;
}

menu:target {
	display: block;
}

.counter {
	font-size: 200%;
	border-width: 0.2em;
	border-radius: 0.5em;
	padding: 0.25em;
	float: left;
	margin: 0.25em;
	position: relative;
}

.counter > p {
	font-size: 175%;
	text-align: center;
	margin: 0 0 0.25em;
}

[rel*="count"] {
	position: absolute;
	color: rgba(0, 0, 0, 0.25);
	text-align: center;
	vertical-align: middle;
	left: 0;
	right: 0;
	text-decoration: none;
	-webkit-transition: color 500ms ease-in-out;
	-moz-transition: color 500ms ease-in-out;
	-o-transition: color 500ms ease-in-out;
	transition: color 500ms ease-in-out;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
[rel*="count"]:hover {
	color: rgba(128, 128, 128, 0.75);
}
[rel="countUp"] {
	top: 0;
	bottom: 50%;
}
[rel="countDown"] {
	padding: 0.75em 0 0;
	top: 50%;
	bottom: 0;
}

.content {
	margin: 3.5em 0 1.7em;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-width: 0.2em 0 0;
	text-align: right;
	padding: 0.25em;
}

/*Orientation based modifications*/
.orientation_landscape > .counters_2 {
	white-space: nowrap;
	text-align: center;
}
.orientation_landscape > .counters_2 > .counter {
	font-size: 375%;
	float: none;
	display: inline-block;
}
.orientation_portrait > .counters_2 > .counter {
	font-size: 200%;
	display: block;
	width: auto;
	margin: 1em;
	float: none;
}


/* Float clears */
.content:after,
header:after {
	content: ".";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
