/*
# Reset

This extension is for resetting basic HTML styling on a selector basis.
Any object that needs resetting, simply let it `@extend` this fragment
and it'll be added to the list of objects to revert to base styling.
*/
%reset {
	color: inherit;
	font-size: 1em;
	font-weight: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	text-decoration: none;
}

/*
# NoCollapse

This extension is for blocking margin-collapse. Any container that needs
to block margin-collapse can safely `@extend` this fragment.
*/
%nocollapse {
	margin-bottom: -1px;
	margin-top: -1px;
	padding-bottom: 1px;
	padding-top: 1px;
}
