@CHARSET "UTF-8";
@import "extends/settings";
@import "extends/utils";
@import "extends/basetheme";
@import "components/layout";
@import "components/counters";

* {
	font-size: 100%;
	font-family: inherit;
}

body, html, ul, menu, h1, h2, h3, h4, p {
	@extend %reset;
}

h1, h2, h3, h4, p {
	margin: 0;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

h1, h2, h3, h4 {
	font-family: georgia, serif;
}

a {
	color: white;
	text-decoration: none;
}

body {
	color: black;
	background-color: rgba( 32, 32, 32, 1 );
	-webkit-transition: font 2s ease-in-out;
	-moz-transition: font 2s ease-in-out;
	-o-transition: font 2s ease-in-out;
	transition: font 2s ease-in-out;
}

/* Float clears */
.content:after,
header:after {
	content: ".";
	display: block;
	clear: both;
	width: 0;
	height: 0;
	visibility: hidden;
}
